body {
    font-family: Arial, sans-serif; /*fonte das letras*/
    background-color: rgb(196, 132, 230);
    display: flex; /* usa modelo flexbox */
    align-items: center; /* centraliza na vertical*/
    justify-content: center; /* centraliza na horizontal*/
    height: 100vh; /* define a altura da tela*/
}
.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb (0, 0, 0);
    text-align: center;
}
button{
background: #780be5;
color: white;
border: none;
padding: 10px 15px; /* 10 px é inferior e superior, 15 px é esquerda e direita */
border-radius: 5px;
cursor: pointer; /* cursor do mouse, ponteiro */
}

button:hover {
    background-color: red;
}

.image{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin-bottom: 10px; /*espaçamento externo abaixo */
}