body {
    font-family: Arial, sans-serif; /*fonte das letras*/
    background-color: rgb(196, 132, 230);
    display: flex; /* usa modelo flexbox */
    align-items: center; /* centraliza na vertical*/
    justify-content: center; /* centraliza na horizontal*/
    height: 100vh; /* define a altura da tela*/
}
.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb (0, 0, 0);
    text-align: center;
}
button {
background: #780be5;
color: white;
border: none;
padding: 10px 15px; /* 10 px é inferior e superior, 15 px é esquerda e direita */
border-radius: 5px;
cursor: pointer; /* cursor do mouse, ponteiro */
}

button:hover {
    background-color: red;
}

.image {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin-bottom: 10px; /*espaçamento externo abaixo */
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: purple;
    color: white;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.container {
    flex-grow: 1; /*capacidade do elemento crescer*/
    padding: 20px;
    margin-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}